header h2,
h3{
	color: green;
}
/*
p{
	color: red;
}

p#azul{
	color: blue;
}

.prueba{
	color: orange;
}

.grande{
	font-size: 20px;
}*/

/*elemento1 + elemento2 -> todo parrafo que tenga un parrafo atrás*/
/*p+p{
	font-weight: bolder;
}*/
/*
article > p{
	color:red;
}

p ~ p{
	color:green;
}*/

/*h2[title]{
	color: red;
}*/

/*h2[title="main"]{
	color: red;
}*/

h2[title ~= "cabecera"]{
	color: red;
}

h2[lang |= "es"]{
	color: blue;
}

div{
	font-size: 50px;
}

article{
	font-size: 10px;
}

/*

	Colición de estilos

	1.- css del navegador.
	2.- css del usuario.
	3.- archivos css enlazados en el orden añadido se aplica el ultimo.
	4.- propiedades que se heredan.
	5.- propiedades propias del elemento.
	6.- clases asignadas, y en el mismo orden de asignación.
	7.- identificador
	8.- !important

*/